:root[data-mantine-color-scheme="dark"] .u-select {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  background: rgba(255, 255, 255, 0.3) !important;
}

.u-select {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
